
<div class="ui-view-container">
    <div class="about" ui-view>
        <div class="alert alert-info">
            <h3>About</h3>
            <br>
            <hr>
            <br>
            <h1>Step 1: Add a task by entering in the list name it goes under and the name of the task.</h1>
            <img src="img/addTask.png" class="img-responsive" alt="How to add task & list">
            <p>Each task you add requires a list name to go under and a name for the task.</p>
            <hr>
            <h1>Step 2: Navigate through multiple lists with the list tabs that appear at the top.</h1>
            <img src="img/listTab.png" class="img-responsive" alt="How to navigate lists">
            <p>Here you can view all lists, individual lists, see how many tasks are finished out of the total tasks for each list, as well as clear all completed tasks.</p>
            <hr>
            <h1>Step 3: Finish tasks with the checkmark button, or delete them with the X button. You can also rename a task by clicking it's name.</h1>
            <img src="img/list.png" class="img-responsive" alt="How to mark tasks as finished or delete tasks">
            <p>The checkmark button can be clicked again on a finished task to mark it as unfinished. You can clear finished tasks with the button at the top next to the list tabs. To delete a list, just click the X button next to the list name. This will also delete all tasks corresponding to that list.</p>
            <hr>
        </div>
    </div>
</div>
