<div class="listblock" ng-class="{finished: task.finished == true}">

    <!-- FINISH BUTTON -->
    <div class="col-xs-2 green" ng-class="{finishbtn: task.finished == false}" ng-click="lc.finishTask(task)" ng-model="task.finished"><span class="glyphicon glyphicon-ok"></span></div>


    <!-- TASK NAME -->
    <div class="col-xs-8" ng-click="task.editing=true">
        <span ng-bind="task.name | capitalize" ng-hide="task.editing"></span> &nbsp; <span ng-class="{success: task.finished == true}"></span>
        <input type="text" ng-model="task.name" ng-blur="task.editing=false" ng-show="task.editing" focus-on="task.editing">
    </div>


    <!-- DELETE BUTTON -->
    <div class="col-xs-2 delbtn" ng-click="lc.delTask(task)"><span class="glyphicon glyphicon-remove"></span></div>
</div>
